<div>
  <img src="<%= imageUrl %>" alt="<%= title %>" title="<%= description %>" style="border: 1px solid black; margin-top: 1rem;"/>
</div>

<p><%= description %></p>

<ul>
  <li><a href="https://xkcd.com/<%= id %>/" target="_blank" rel="noopener">Original post</a></li>
  <li><a href="https://www.explainxkcd.com/wiki/index.php/<%= id %>" target="_blank" rel="noopener">Explanation</a></li>
</ul>
