<% if (locals.flag) { %>
  <div>
    <img src="<%= flag %>" alt="Flag for" style="border: 1px solid black; margin-top: 1rem; height: 100px;"/>
  </div>
<% } %>
<ul>
  <li><strong>Capital:</strong> <%= capital %></li>
  <li><strong>Country code:</strong> <%= countryCode %></li>
  <li><strong>Languages:</strong> <%= languages %></li>
  <li><strong>Currency:</strong> <%= currency %></li>
  <li><strong>Top-Level-Domain:</strong> <%= tld %></li>
</ul>
