<div>
  <img src="<%= basicData.imgData[0] %>" alt="Foto von '<%= name %>'" style="max-width: 400px"/>
</div>
<ul>
  <li>
    <strong>Alternative Bezeichnungen:</strong> <%= basicData.altNames %>
  </li>
  <li>
    <strong>Gattung:</strong> <%= basicData.gatScName %>
    <% if (basicData.gatName) { %>
      (<%= basicData.gatScName %>)
    <% } %>
  </li>
  <li>
    <strong>Familie:</strong> <%= basicData.famScName %>
    <% if (basicData.famName) { %>
      (<%= basicData.famName %>)
    <% } %>
  </li>
</ul>

<% if (!descrData.infoMisc && !descrData.infoUse && descrData.infoAppear) { %>
  <p><%- descrData.infoAppear %></p>
<% } %>
<% if (descrData.infoMisc) { %><p><%- descrData.infoMisc %></p><% } %>
<% if (descrData.infoUse) { %><p><%- descrData.infoUse %></p><% } %>
<% if (medData.medUse) { %><p><%- medData.medUse %></p><% } %>
