<ul>
    <li><strong>Latin name:</strong> <%= nameLatin %></li>
    <li><strong>German name:</strong> <%= nameDE %></li>
    <li><strong>Symbol:</strong> <%= symbol %></li>
    <li><strong>Atomic number:</strong> <%= atomicNumber %></li>
    <li><strong>Period (row):</strong> <%= period %></li>
    <li><strong>Group (column):</strong> <%= group %></li>
    <li><strong>Element group:</strong> <%= elementGroup %></li>
    <li><strong>Atomic mass:</strong> <%= atomicMass %></li>
    <% if (locals.discoveryDate) { %>
        <li>
            <strong>Discovered in:</strong> <%= discoveryDate %>
        </li>
    <% } %>
</ul>

<% if (locals.context) { %>
    <p><%= context %></p>
<% } %>
